body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.heading,
.footer {
    background-color: #1f2937;
}

.heading {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 16px;
    border-radius: 8px;
    padding: 6px 20px;
    border-color: #E5E7EB
}

.section-1-button {
    background-color: #3882F6;
    color: #E5E7EB;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-image {
    height: 75px;
    width: 75px;
}

.section-1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.section-1-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

.section-1-image {
    height: 300px;
    width: 400px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 26px;
    row-gap: 12px;
}

.image {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-box {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
}

.info-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.caption {
    color: #1f2937;
    font-size: 18px;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.section-3-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.section-4 {
    display: flex;
    justify-content: center;
    padding: 18px;
    height: 150px;
}

.section-4-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 24px;
    border-radius: 10px;
}

.section-4-sub-container {
    display: flex;
    flex-direction: column;
}

.section-4-title {
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 26px;
}

.section-4-button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-speaker {
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
    text-align: right;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

