body {
    font-family: 'Roboto', sans-serif;
}

.header,
.section-1,
.footer {
    background-color: #1f2937;
}

ul {
    padding: 0;
    margin: 0;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.caption {
    color: #1f2937;
    font-size: 18px;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-4-container {
    background-color: #3882F6;
}
.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-speaker {
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
}